@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import "./variable.scss";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
scroll-behavior: smooth;
}

body{
  background-color: $white;
}

.cursor{
  width: 40px;
  height: 40px;
  position: fixed;
  background-color: $black;
  border-radius: 50%;
  z-index: 999;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.column {
  flex-direction: column;
}
button {
  cursor: pointer;
}

input:-webkit-autofill , input:-webkit-autofill:focus{
  box-shadow:0 0 0 50px white inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  @media screen and (max-width:950px){
    padding: 0 1rem !important;
  }
}



@media screen and (max-width: 750px) {
  .container {
    max-width: 100vw;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 100vw;
    padding: 0;
  }
}




