@import "./variable.scss";

.hero{
    background-image: url("../assets/ff.svg");
    background-size: 10%;
    position: relative;
    top: 80px;
    z-index: 1;
    min-height: 700px;
    height: calc( 100vh - 80px );

    // .border{
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height:250px;
    //     background-image: url("../assets/border.svg");
    //     background-size: 120%;
    //     background-position: top;
    //     background-repeat: no-repeat;
    //     z-index: 2;
    // }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #eeeeeeb8;
        backdrop-filter:  blur(.4px);
        z-index: -1;
    }

    .heroText{
        padding-top: 2rem;
        position: relative;
        z-index: 3;
        h1{
            font-size: 70px;
            text-align: center;
            color: #2f2f2f;
            font-family: 'Kaushan Script', cursive;
            text-transform: uppercase;
            span{
                color: $primary;
                font-family: 'Kaushan Script', cursive;
            }
        }
        p{
            font-size: 22px;
            font-weight: 800;
            text-align: center;
            color: gray;
            margin: 0 auto;
            span{
                color: $primary;
                font-weight: 800;
            }
        }

    }

    .pizza_image{
        width: 100%;
        height: 450px;
        background-image: url("../assets/border.svg") ,url("../assets/pizza.png") ,  url("../assets/border1.svg") , ;
        background-repeat: no-repeat , no-repeat;
        background-size: 1800px , 900px , 900px;
        background-position: center 200px, top , top;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}